<!DOCTYPE html>
<html lang="eng">
<head>
  <title>{% block title %}AI ToDo{% endblock %}</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  {% block style %}{% endblock %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
 <meta name="csrf-token" content="{{ csrf_token() }}">
  {% block script %}{% endblock %}
</head>
<body>
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<section class="section pt-3 pb-0">
  <div class="container">
    {% for category, message in messages %}
    <div class="notification is-{{ category }}">
      <button class="delete" onclick="this.parentElement.remove()"></button>
      {{ message }}
    </div>
    {% endfor %}
  </div>
</section>
{% endif %}
{% endwith %}

  {% block content %}{% endblock %}
</body>
</html>
